
body {

background-color: yellowgreen;


}

div.grid-container {

display: grid;
grid-template-columns: auto auto auto auto auto auto auto auto auto auto;

}

div.grid-item {

background-color: #b22e20;
margin: 4px;
padding: 4px;
text-align: center;
font-size: 20px;
font-weight: 900;
color: white;
height: 40px;
width: 40px;


}


div.black {

background: url(https://previews.123rf.com/images/mantinov/mantinov1508/mantinov150800147/44128392-stone-road-rocky-road-pebble-road-as-background.jpg);
background-size: cover;
background-position: center;

}

div.blue {

background: url(https://img.favpng.com/25/4/21/moon-rock-impact-crater-planet-illustration-png-favpng-8m07b0nPqfcy2Ugcg5fXyHtJJ.jpg);
background-size: cover;
background-position: center;

}

span.control {
display: inline-block;
background-color: #b22e20;
border: #b22e20;
color: white;
margin: 10px;
padding: 10px;
cursor: pointer;
text-align: center;

}

span:hover.control {
  display: inline-block;
  background-color: rgb(194, 97, 97);
  border: rgb(194, 97, 97);
  color: black;
  margin: 10px;
  padding: 10px;
  
  }